{% extends 'base.html'%}
{% block content %}
    <h3>좋아할만한 스터디를 골라봤어요!</h3>
    <div class="row text-center">
        {% for study in studys %}
        <div class="mb-3 col-md-4 col-sm-6 p-2">
            <div id="study" style="background-color: white; border-radius : 5px" onclick="viewStudy(`{{study.id}}`)">

                    <img src="{{study.thumbnail_img.url}}" type="button" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ study.title }}</h5>
                        <p class="card-text text-second">
                            작성자 : {{ study.user }}</br>
                            모집내용 : {{ study.content }}</br>
                            모집내용 대신 태그를 달?</br>
                            모집인원 : {{ study.headcount }}</br>
                        </p>
                    </div>
            </div>
            

        </div>
        {% endfor %}
    </div>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="max-width: 500px;">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <img width="100%" id="thumbnail-img" src="" alt="">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
    </div>
    </div>
</div>
</div>



{% endblock%}

{% block extra-script %}


<script>
    function viewStudy(study_id){

        const modal = document.getElementById('staticBackdrop');
        var tumbnailImg = document.getElementById('tumbnail-img');

        $.ajax({
            type: 'GET',

            data: {},

            url: `/api/${study_id}/`,

            success: function (result) {
                console.log('성공:', result, result['thumbnail_img']);
                $('#thumbnail-img').attr('src', result['thumbnail_img']);
                

            },
            
        });
        
        $('#staticBackdrop').modal('show')

    }
    
</script>
{% endblock %}