{% extends 'base.html' %}

{% block content %}



{% if is_author %}

<div>
    작성자: {{study_post.user}}
    <form>
        제목: <input type="text" value="{{study_post.title}}" name="title"><br>
        내용: <input type="text" value="{{study_post.content}}" name="content"><br>
        썸네일: <input type="text" value="{{study_post.thumbnail_img}}" name="thumbnail_img"><br>
        <input type="submit" value="변경하기">
    </form>
</div>
멤바들
{% for member in member_list %}
{{ member }}
{% endfor %}

<div>
    {% for student in student_list %}
    이름: {{student.username}}
    유저_id: {{student.id}}
    승인여부:
    {% if student.is_accept == 1 %}
    승인된 유저
    {% elif student.is_accept == None %}

    <form action="{% url 'studies:choice' study_id=study_post.id user_id=student.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="is_choice" value='1' style="display: none">
        <button>승낙</button>
    </form>
    <form action="{% url 'studies:delete_student' study_id=study_post.id user_id=student.id %}" method="post">
        {% csrf_token %}
        <button>거절</button>
    </form>
    {% endif %}
    <br>
    {% endfor %}
</div>
{% else %}

    <div>
        작성자: {{study_post.user}}<br>
        제목: {{study_post.title}}<br>
        내용: {{study_post.content}}<br>
        썸네일: {{study_post.thumbnail_img}}<br>
    </div>


    {% if is_student %}
    <form action="{% url 'studies:delete_student' study_id=study_post.id user_id=user.id %}" method="post">
        {% csrf_token %}
        <button>탈퇴하기</button>
    </form>
    {% elif sended %}
    <form action="{% url 'studies:delete_student' study_id=study_post.id user_id=user.id %}" method="post">
        {% csrf_token %}
        <button>요청 취소</button>
    </form>
    {% else %}
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="모임 참가신청">
    </form>
    {% endif %}
{% endif %}


{% endblock %}