
<button onclick="pushStartBtn()">공부시작</button>
<button onclick="pushFinishBtn()">공부종료</button>

<video id="video" width="320" height="240" style="border: 1px solid black;"  autoplay></video>
<canvas id="canvas" width="960" height="720" style="display: none;"></canvas>

{% if study_log %}
<div id="today-log">
    {% for log in study_log %}
    <div>
        {{log.start_time}} ~
        {% if log.end_time %}
            {{log.end_time}}
        {% else %}
            현재
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- 추후에 지웠다 다시 그리는 방식이 아닌 추가&변경으로 사용 가능한 것으로 변경하기 -->
<script>
    $.ajaxSetup({
        headers: {
            "X-CSRFToken": '{{csrf_token}}'
        }
    });

    const todayLog = document.getElementById('today-log')
    var video = document.getElementById('video');
    var localstream;

    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var video = document.getElementById('video');


    function uploadImage() {
        context.drawImage(video,0,0,960,720);
        var drawCanvas = document.getElementById('canvas');

        var request = $.ajax({
    
            type:'POST',
    
            data: {imgUpload:drawCanvas.toDataURL('image/png')}, // 이미지를 인코딩
    
            url:'/study/check/',
    
            success:function(result){
                stdLogList = result['study_log_list']
                if (stdLogList){
                    let totalTemp = ''
                    for(let i = 0; i<stdLogList.length ;i++){
                        let temp = `
                        <div>
                            ${stdLogList[i]['start_time']} ~ ${stdLogList[i]['end_time']}
                        </div>
                        `
                        totalTemp += temp
                    }
                    $('#today-log').empty()
                    $('#today-log').append(totalTemp)
                    
                }
            }
    
        });
    
    }

    function startStudy(){
        $.ajax({
        
        type:'GET',

        data: {},

        url:'/study/start/',

        success:function(result){

            stdLogList = result['study_log_list']
            if (stdLogList){
                let totalTemp = ''
                for(let i = 0; i<stdLogList.length ;i++){
                    let temp = `
                    <div>
                        ${stdLogList[i]['start_time']} ~ ${stdLogList[i]['end_time']}
                    </div>
                    `
                    totalTemp += temp
                }
                $('#today-log').empty()
                $('#today-log').append(totalTemp)
                
            }
        }
    });
    }
    
    function finishStudy(){
        $.ajax({
        
        type:'GET',

        data: {},

        url:'/study/finish/',

        success:function(result){
            stdLogList = result['study_log_list']

            if (stdLogList){
                let totalTemp = ''
                for(let i = 0; i<stdLogList.length ;i++){
                    let temp = `
                    <div>
                        ${stdLogList[i]['start_time']} ~ ${stdLogList[i]['end_time']}
                    </div>
                    `
                    totalTemp += temp
                }
                $('#today-log').empty()
                $('#today-log').append(totalTemp)
                
            }
        }
    });
    }

    function pushStartBtn(){
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {

                video.srcObject = stream;
                localstream = stream;
                video.play();
            });
        }
        startStudy()
        root = setInterval(uploadImage, 5000); // 반복 시키는 함수
    }
    function pushFinishBtn(){
        clearInterval(root);
        setTimeout(finishStudy, 3000) //이미지 처리 전 코드 실행 방지
        video.pause();
        video.src = "";
        localstream.getTracks()[0].stop();
    }
</script>

<!-- 시작 누르고 새로고침 이후 종료 버튼 누를 시 오류 -->
<!-- 브러우저 종료 인식후 참여 종료 시점 지정 -->