{% extends 'base.html' %}
{% block extra-style %}

<style>
  #study-day-list > div:hover{
    cursor: pointer;
    font-size: 20px;
  }
</style>
{% endblock %}

{% block content %}

<!-- 모달 섹션 -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Memo</h1>
                <button type="button" onclick="closeMemo()" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>어떤 걸 공부하셨나요??</h5>
                <input type="text" id="memo-title">
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="memo-submin-btn">저장</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="row mb-5 py-2" style="background-color: white; border-radius: 10px;">
    <div class="col-3">
      <img src="{{user.profile_image.url}}" width="30px" height="30px" alt="">
      <span>{{user.username}}</span>
    </div>
    <div class="col-5 text-start">
      <span>{{user.username}}의 다짐 :</span>
      <span>{{user.bio}}</span>
    </div>

      <div class="col-4 text-start">
        <span>총 공부 시간 :</span>
        <span>{{user.total_time}} 분</span>
      </div>
  </div>
  <div class="row" style="max-height: 800px;">
    <div class="col-4 px-0">
      <div id="study-day-list" style="background-color: #1d7d78; color: white; min-height: 130px; overflow-y : scroll; border-radius: 10px">
        <h5>날짜</h4>
        {% for day in study_day_list%}  
        <div onclick="getLog(`{{day}}`)">
          {{day}}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-8" style="background-color: white; border-radius: 10px;">
      <h5 id="today-date">{{date}}</h5>
      <div id="today-log" style="max-height: 800px; overflow-y : scroll; ">
      {% for log in study_log_list %}
      <div class="row mb-2">
        <div class="col-4">{{log.start_time}} ~ {{log.end_time}}({{log.sub_time}}분)</div>
        <div class="col-8 row">
            <div class="col-8" id="memo-{{log.id}}"">{{log.memo}}</div>
            <div class=" col-4 text-end">
                <button onclick="writeMemo(`{{log.id}}`)" type="button" class="btn btn-success" style="font-size : 12px;"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    메모/수정
                </button>

            </div>
        </div>
    </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>

{% block extra-script %}
  {% include 'main_script.html' %}
  <script>
    $.ajaxSetup({
        headers: {
            'X-CSRFToken': '{{csrf_token}}',
        },
    });
  </script>
{% endblock %}

{% endblock %}
