{% extends 'base.html' %}
{% block extra-style %}

<style>
  #study-day-list > div:hover{
    cursor: pointer;
    font-size: 20px;
  }


  .top-menu-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .study_img{
    width:180px;
    height:150px;
    border-radius: 10px;
  }

  .lists{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .byone{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

 
</style>
{% endblock %}

{% block content %}

<!-- 모달 섹션 -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Memo</h1>
                <button type="button" onclick="closeMemo()" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>어떤 걸 공부하셨나요??</h5>
                <input type="text" id="memo-title">
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="memo-submin-btn">저장</button>
            </div>
        </div>
    </div>
</div>

<div class="container" >
  <div class="top-menu-wrap">
    <div class="row mb-5 py-2" style="background-color: white; border-radius: 10px;">
      <div class="col-3">
        <img src="{{user.profile_image.url}}" width="30px" height="30px" alt="">
        <span>{{user.username}}</span>
      </div>
      <div class="col-5 text-start">
        <span>{{user.username}}의 다짐 :</span>
        <span>{{user.bio}}</span>
      </div>

        <div class="col-4 text-start">
          <span>총 공부 시간 :</span>
          <span>{{user.total_time}} 분</span>
        </div>
    </div>
    <div>
      <div class="row mb-5 py-2" style="background-color: white; border-radius: 10px;">
          <span>내 공부로그</span>
          <span>내 스터디</span>   
      </div>
    </div>
</div>
</div>
<div>
    <div class="bookmark" style="background-color: white; border-radius: 10px; margin-bottom: 50px;">
        <div style="padding:20px;">즐겨찾기</div>
        <div class="lists">
            {% for bookmark in bookmark_lists %}
            <div class="byone">
            <img class="study_img" src= "{{ bookmark.post.thumbnail_img.url}}"/>
            {{bookmark.post.title}}
           </div>
            {% endfor %}    
        </div>
    </div>
    <div class="waiting_accept" style="background-color: white; border-radius: 10px;  margin-bottom: 50px;">  
        <div style="padding:20px;">승인 대기중</div>
        <div class="lists">
            {% for study_list in study_lists %}
            <div class="byone">
            <img class="study_img" src= "{{ study_list.thumbnail_img.url}}"/>
            {{study_list.title}}
           </div>
            {% endfor %}    
        </div>
    </div>
    <div class="my_study" style="background-color: white; border-radius: 10px;  margin-bottom: 50px;">
        <div style="padding:20px;">내 스터디</div>
        <div class="lists">
            {% for study_list in study_lists %}
            <div class="byone">
            <img class="study_img" src= "{{ study_list.thumbnail_img.url}}"/>
            {{study_list.title}}
           </div>
            {% endfor %}    
        </div>
    </div>
</div>


{% block extra-script %}
  {% include 'main_script.html' %}
  <script>
    $.ajaxSetup({
        headers: {
            'X-CSRFToken': '{{csrf_token}}',
        },
    });
  </script>
{% endblock %}

{% endblock %}
